a {
  margin: 50px;
  display: inline-block;
}

/* title-tip down */
.title-tip[tooltip]:hover {
  position: relative;
}
.title-tip[tooltip]:hover:before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99999;
  content: attr(tooltip);
  margin-top: 0.5em;
  padding: 0.5em;
  width: 200px;
  overflow: hidden;
  word-wrap: break-word;
  font-size: inherit;
  color: #FFF;
  text-align: center;
  background-color: #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.title-tip[tooltip]:hover:after {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 99999;
  content: '';
  margin-left: -0.125em;
  width: 0;
  height: 0;
  border: 0.25em dashed transparent;
  border-bottom: 0.25em solid #222;
  font-size: inherit;
}

/* title-tip-up */
.title-tip-up[tooltip]:hover:before {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.title-tip-up[tooltip]:hover:after {
  top: auto;
  bottom: 100%;
  border: 0.25em dashed transparent;
  border-top: 0.25em solid #222;
}

/* title-tip-right */
.title-tip-right[tooltip]:hover:before {
  top: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.5em;
}
.title-tip-right[tooltip]:hover:after {
  top: 50%;
  left: 100%;
  margin-left: 0;
  margin-top: -0.125em;
  border: 0.25em dashed transparent;
  border-right: 0.25em solid #222;
}

/* title-tip-left */
.title-tip-left[tooltip]:hover:before {
  top: auto;
  left: auto;
  right: 100%;
  margin-top: 0;
  margin-right: 0.5em;
}
.title-tip-left[tooltip]:hover:after {
  top: 50%;
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-top: -0.125em;
  border: 0.25em dashed transparent;
  border-left: 0.25em solid #222;
}
